/**
* Created By: Jayson Ramos
*
**/
/* For the "inset" look only */
html { overflow: auto; }
body div.cont  { position: absolute; top: 20px; left: 20px; bottom: 20px; right: 20px; padding: 30px; overflow-y: scroll; overflow-x: hidden; margin-top: 50px; } /* Let's get this party started */
header.page-header{
    position: fixed;
    width: 100%;
    height: 10%;
    z-index:2100;
}
div.container-1, .cron{
   background-color: #2e3839;
   margin-top: 2.5em;
   padding-bottom: 21px;
   overflow-x: hidden;
   overflow-y:auto;
}
#rss,#rss_apple{
    margin-right: 23px;
    margin-top: 45px;;
    margin-left: 23px;max-height: 650px; height: 600px;
    overflow-y:auto; overflow-x: hidden;
}
.paragraph-content
{
    text-shadow:1px 1px 0 rgb(201, 222, 185);
    font-weight:bold;font-style:italic;color: #e0e0e0;
    letter-spacing:0pt;
    word-spacing:2pt;
    font-size:12px;
    text-align:justify;
    font-family:arial, helvetica, sans-serif;
    line-height:1;
}

textarea{
    resize: none;
}
.qoute{
    margin-top: 40px;
    font-family: Times,Philosopher,"Open Sans";
    font-size: 4em;
}
.pagination-costume {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px; }
.pagination-costume > li {
    display: inline; }
.pagination-costume > li > a,
.pagination-costume > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #80c217;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px; }
.pagination-costume > li:first-child > a,
.pagination-costume > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
.pagination-costume > li:last-child > a,
.pagination-costume > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }
.pagination-costume > li > a:hover,
.pagination-costume > li > a:focus,
.pagination-costume > li > span:hover,
.pagination-costume > li > span:focus {
    z-index: 3;
    color: #167c1b;
    background-color: #eeeeee;
    border-color: #ddd; }
.pagination-costume > .active > a,
.pagination-costume > .active > a:hover,
.pagination-costume > .active > a:focus,
.pagination-costume > .active > span,
.pagination-costume > .active > span:hover,
.pagination-costume > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #92e7a0;
    border-color: #167c1b;
    cursor: default; }
.pagination-costume > .disabled > span,
.pagination-costume > .disabled > span:hover,
.pagination-costume > .disabled > span:focus,
.pagination-costume > .disabled > a,
.pagination-costume > .disabled > a:hover,
.pagination-costume > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed; }

::-webkit-scrollbar-thumb {
border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.shadow-box{
    -webkit-box-shadow: 5px 3px 4px 5px #8CFFC6;
    box-shadow: 5px 3px 4px 5px #8CFFC6;
}
.shadow-text{
    text-shadow: 1px 2px 3px #d0ffc4;
}
p.content:first-line{
    text-indent: 4px;
}
.invisible{
    visibility: hidden;
}
.modal-emerald {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 5px 15px #60a48e;
    width: 47em;
    margin: 1em auto;
    z-index: 1000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
    background: #9dd53a; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.modal-emerald.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
.modal-emerald.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-emerald-02 {
    position: absolute;
    top: 1;
    right: 0;
    bottom: 1;
    left: 0;
    box-shadow: 0 5px 15px #60a48e;
    width: 700px;
    height: 21em;
    margin: 1em auto;
    z-index: 1000;
    overflow-style: scrollbar;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
    background: #9dd53a; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.modal-emerald-02.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
.modal-emerald-02.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

p.content{
    font-size: 1em;
    font-family: "Times New Roman", sans-serif;
    color: #ffffff;
}
p.content:first-letter { font-size: 3.2em;
    color: #27c914; }
.costume-box-gradient-1{
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e2c7), color-stop(50%,#c19e67), color-stop(51%,#b68d4c), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

}
.costume-box-gradient-2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
    background: #d2ff52; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #ff1811;
}



.title{
    font-size: 1.7em;
    color: #63dd30;
    font-weight: bold;
}

.title:hover{
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.transparent{
    opacity: 0.0;
}
@-webkit-keyframes glow {
    to {
         border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
       -moz-box-shadow: 0 0 5px #69c800;
            box-shadow: 0 0 5px #69c800;
    }
}



/**Manipulating the above answer for CSS only solution**/

@-webkit-keyframes glow {
    to {
         border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
       -moz-box-shadow: 0 0 5px #69c800;
            box-shadow: 0 0 5px #69c800;
    }
}

.myGlower {
    background-color: #80c217;
    border: 1px solid transparent;
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
    -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
    transition: border 1.0s linear, box-shadow 1.0s linear;
}


/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #2F3238;
    color: #565656;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9000;
    background-image: none;
    background-color: #26292E;

    opacity: 0.5;

    -webkit-transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
    -moz-transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
    transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
}

.fancybox-close i {
    left: 50%;
    top: 50%;
    margin: -11px 0 0 -11px;
    font-size: 22px;
    line-height: 1em;
    position: absolute;
    color: #FFFFFF;
}

.fancybox-close:hover {
    opacity: 1;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev,
.fancybox-prev span {
    left: 0;
}

.fancybox-next,
.fancybox-next span {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    cursor: pointer;
    z-index: 8040;
    background-image: none;
    background-color: #26292E;

    opacity: 0.5;

    -webkit-transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
    -moz-transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
    transition: background 0.1s linear 0s, opacity 0.1s linear 0s;
}

.fancybox-prev span i {
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -17px;
    font-size: 30px;
    line-height: 1em;
    position: absolute;
    color: #FFFFFF;
}


.fancybox-next span i {
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    font-size: 30px;
    line-height: 1em;
    position: absolute;
    color: #FFFFFF;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    margin: 0!important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden !important;
    display: none;
    z-index: 8010;
    background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-opened .fancybox-title h4{
    font-size: 24px;
    color:#fff;
    font-weight: 300;
    margin-bottom: 10px;
}

.fancybox-opened .fancybox-title p{
    font-size: 16px;
    font-weight: 300;
    color:#bbb;
    line-height:1.6em;
    margin-bottom: 0;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding: 25px 30px 30px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

@media (max-width: 480px) {
    .fancybox-nav span,
    .fancybox-nav:hover span,
    .fancybox-close,
    .fancybox-close:hover {
        background: transparent;
    }

    .fancybox-close i {
        left: 70px;
        top: 10px;
    }
}

@media (max-width: 320px) {
    .fancybox-close i {
        left: 30px;
        top: 20px;
    }
}
/* === color === */

a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link,
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation  {
    color: #ebf4f7;
}

.navbar-brand span{
    color: #f0f2ff;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
    color: #e9f8fa;
}
.navbar-costume-1 {
    background: #9dd53a; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-color: #cae7d9; }
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #e6e71f;
}
.navbar-costume-1 .navbar-brand {
    color: #ff1c1b; }
.navbar-costume-1 .navbar-brand:hover,
.navbar-costume-1 .navbar-brand:focus {
    color: #fff548;
    background-color: transparent; }
.navbar-costume-1 .navbar-text {
    color: #ff1c1b; }
.navbar-costume-1 .navbar-nav > li > a {
    color: #ff1c1b; }
.navbar-costume-1 .navbar-nav > li > a:hover,
.navbar-costume-1 .navbar-nav > li > a:focus {
    color: #ff1c1b;
    background-color: #afe736; }
.navbar-costume-1 .navbar-nav > .active > a,
.navbar-costume-1 .navbar-nav > .active > a:hover,
.navbar-costume-1 .navbar-nav > .active > a:focus {
    color: #ffebef;
    background-color: transparent; }
.navbar-costume-1 .navbar-nav > .disabled > a,
.navbar-costume-1 .navbar-nav > .disabled > a:hover,
.navbar-costume-1 .navbar-nav > .disabled > a:focus {
    color: rgba(28, 6, 10, 0.29);
    background-color: transparent; }
.navbar-costume-1 .navbar-toggle {
    border-color: #ddda16; }
.navbar-costume-1 .navbar-toggle:hover,
.navbar-costume-1 .navbar-toggle:focus {
    background-color: #fffc1c; }
.navbar-costume-1 .navbar-toggle .icon-bar {
    background-color: #888; }
.navbar-costume-1 .navbar-collapse,
.navbar-costume-1 .navbar-form {
    border-color: #e7e7e7; }
.navbar-costume-1 .navbar-nav > .open > a,
.navbar-costume-1 .navbar-nav > .open > a:hover,
.navbar-costume-1 .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #fffc1c; }
.navbar-costume-1 .dropdown-menu{
    background: #9dd53a; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-color: #cae7d9;
}
.navbar-costume-1 .dropdown-menu > li > a:hover,
.navbar-costume-1 .dropdown-menu > li > a:hover{
    color: #fffc1c;
}
@media (max-width: 767px) {
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > li > a {
        color: #ff1c1b; }
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f21d1a;
        background: #9dd53a; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-color: #cae7d9;}
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ff1c1b;
        background: #9dd53a; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-color: #cae7d9; }
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-costume-1 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background: #9dd53a; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #9dd53a 0%,#a1d54f 50%, #80c217 51%,#7cbc0a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-color: #cae7d9; } }
.navbar-costume-1 .navbar-link {
    color: #A1D54F; }
.navbar-costume-1 .navbar-link:hover {
    color: #ddda16; }
.navbar-costume-1 .btn-link {
    color: #A1D54F }
.navbar-costume-1 .btn-link:hover,
.navbar-costume-1 .btn-link:focus {
    color: #fffc1c; }
.navbar-costume-1 .btn-link[disabled]:hover,
.navbar-costume-1 .btn-link[disabled]:focus,
fieldset[disabled] .navbar-costume-1 .btn-link:hover,
fieldset[disabled] .navbar-costume-1 .btn-link:focus {
    color: #ff1c1b; }
/* === background color === */

.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover,
.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination-costume ul > .active > a:hover,
.pagination-costume ul > .active > a,
.pagination-costume ul > .active > span,
.flex-control-nav li a:hover,
.flex-control-nav li a.active {
    background-color: #68A4C4;
}


.breadcrumb {
    background-color: #68A4C4;
}

/* === border color === */
.pagination-costume ul > li.active > a,
.pagination-costume ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
    border:1px solid #68A4C4;
}

textarea[name="content"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #38da33;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #65a47c; }

}

input:focus {
    border-color: #68A4C4;
}


#sendmessage {
    color: #68A4C4;
}

.pullquote-left {
    border-left:5px solid #68A4C4;
}

.pullquote-right {
    border-right:5px solid #68A4C4;
}

/* cta */

.cta-text h2 span {
    color: #68A4C4;
}

ul.clients li:hover {
    border:4px solid #68A4C4;
}

/* box */
.box-bottom {
    background:#68A4C4;
}

/* buttons */
.btn-dark{
    color: #27c914;
    -webkit-border-radius: 2px;
    border: #00dd1c;
}
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
    background: #8ac5f8;
    border:1px solid #0dc425;
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
}

.btn-theme {
    border:1px solid #68A4C4;
    background: #68A4C4;
}

/* modal styled */
.modal.styled .modal-header {
    background-color: #68A4C4;
}


/* blog */
.post-meta {
    border-top:4px solid #68A4C4;
}

.post-meta .comments a:hover  {
    color:#68A4C4;
}

.widget ul.tags li a:hover {
    background: #68A4C4;
}

.recent-post .text h5 a:hover{
    color:#68A4C4;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
    background: #68A4C4;
}


/* portfolio */
.item-thumbs .hover-wrap .overlay-img-thumb {
    background: #68A4C4;
}


/* pagination-costume */
#pagination-costume a:hover {
    background: #68A4C4;
}

/* pricing box */
.pricing-box.special .pricing-offer{
    background: #68A4C4;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #68A4C4;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #68A4C4;
}

/* fancybox */
.fancybox-close:hover {
    background-color:#68A4C4;
}
.fancybox-nav:hover span {
    background-color:#68A4C4;
}

/* parallax c slider */
.da-slide .da-link:hover{
    background: #68A4C4;
    border: 4px solid #68A4C4;
}

.da-dots span{
    background: #68A4C4;
}

/* flexslider */
#featured .flexslider .slide-caption {
    border-left:5px solid #68A4C4;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #68A4C4;
}
.nivo-caption, .caption {
    border-bottom: #68A4C4 5px solid;
}

/* footer */
footer{
    background:#68A4C4;
}
#sub-footer{
    background:#68A4C4;
}
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } /* Handle */
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: rgba(255,0,0,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }